<h2>{{contacts.length}} Contacts</h2>
{{#each contacts as |contact index|}}
<a href="/contacts/{{contact.name}}">{{contact.name}}</a></br>
{{/each}}

<h2> Add Contact </h2>
<form action="/contacts" method="post">
  <input type="text" name="contact[name]" placeholder="Name" />
  <input type="text" name="contact[phone]" placeholder="Phone" />
  <input type="text" name="contact[email]" placeholder="Email" />
  <button type="submit">Add Contact</button>
</form>
